# Configurações do Git para Seguros Confiáveis

# Dependências e Ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs e Dados Mutáveis
storage/logs/*
!storage/logs/.gitkeep
storage/uploads/*
!storage/uploads/.gitkeep

# Arquivos temporários e variados
cookies.txt
.DS_Store
Thumbs.db
*.bak
*.swp

# Docker (Opcional, mas geralmente mantemos os manifestos)
#.docker
